<div class="todo">
        <div><%= @todo.task_name %></div>
        <div><%= @todo.complete %></div>
        <div><%= @todo.description %></div>
        <div><%= @todo.due_date %></div>
      
</div>