<% @tasks.each do |task| %>
  <div><%= link_to task.description, task %></div>
  <div><%= link_to "Edit Task", edit_task_path(task) %></div>
<% end %>
<div><%= link_to "New Task", new_task_path %></div>