<div class="todo">
        <div><%= @to_do.task_name %></div>
        <div><%= @to_do.complete %></div>
        <div><%= @to_do.description %></div>
        <div><%= @to_do.due_date %></div>
      
</div>